p {
    margin: 0;
}

.Card {
    background: white;
    border-radius: 10px;
}

.Card__img {
    text-align: center;
}

.Card__types {
    display: flex;
    justify-content: center;
}

.Card__type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: cyan;
    color: #fff;
}

.Card__name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}

.Card__info {
    margin-left: 10px;
}

.Card__data {
    padding-bottom: 10px;
}

.Card__data .title {
    font-weight: 700;
}

.info-container {

    display: flex;
    flex-direction: column;
}

.info-container button {
    border: 1px solid red;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

.info-container button:last-child {
    border: 1px solid orange;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
}